/.gradle/loom-cache
/.gradle
/.idea
/fabric/run
/forge/run
/common/run
/neoforge/run

/common/build
/forge/build
/neoforge/build
/fabric/build
*.lock

/common/.gradle
/fabric/.gradle
/forge/.gradle
/neoforge/.gradle
